@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
#root{
  font-family:"Oswald" ,'Roboto Mono', monospace;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  background-color: hsl(209, 81%, 14%);
  color: #f4f5f6;
  min-height: 100vh;
  letter-spacing: 1px;
}

html{
  scroll-behavior:smooth;
}